navh1, navlabel, navheader, navbutton {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
} 
navbutton {
	background: transparent; /* Fix for Chrome and Firefox OS */
}
:focus {
    outline: 0;
} 

nav navbutton {
	display: inline-block;
	width: 64px;
	text-align: center;
	font-size: 10px;
	line-height: 1em;
	padding: 6px 0 0 0;
	margin: 0;
	color: rgb(111, 111, 116);
}

nav navbutton.active {
	color:rgb(21, 125, 251);
}
nav navbutton .btn-icon {
	display: inline-block;
	background-color: rgb(111, 111, 116);
	height: 24px;
	width: 24px;
	margin-bottom: 2px;
}
nav navbutton.active .btn-icon {
	background-color:rgb(21, 125, 251);
}

/* Views */
navheader {
	position: absolute;
	top:0;
	height: 44px;
	line-height: 44px;
	width: 100%;
	padding-top: 0;
	background-color: rgba(248, 248, 248, 0.9);
	background-image: linear-gradient(0deg, rgb(200, 199, 204), rgb(200, 199, 204) 50%, transparent 50%);
	background-size: 100% 1px;
	background-repeat: no-repeat;
	background-position: bottom;
	z-index: 10;
	-webkit-user-select: none;
	   -moz-user-select: none;
	        user-select: none;
	-webkit-touch-callout: none;
}
navheader navbutton {
	position: absolute;
	top: 0;
	display: inline-block;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	font-size: 17px;
	color:rgb(21, 125, 251);
	padding: 0;
	font-weight: 300;
	height: 44px;
	line-height: 44px;
	text-overflow: ellipsis !important; /* why so !important ? */
	max-width: 140px;
}
navheader navbutton:active {
	opacity: 0.3;
}
navheader navbutton.bold {
	font-weight: 500;
}
navheader navbutton.green {
	color:rgb(41, 197, 25);
}
navheader navbutton.disabled {
	color:rgb(200, 199, 204);
}
navheader navbutton.arrow {
	background-size: 24px 44px;
	background-repeat: no-repeat;
}

navheader navbutton.navleft {
	left:0;
	padding-left: 9px;
}
navheader navbutton.navleft.arrow {
	padding-left: 23px;
	background-image: url(../img/backBtn.svg);
	background-position: left bottom;
}
navheader navbutton.navright {
	right:0;
	text-align: right;
	padding-right: 9px;
}
navheader navbutton.navright.arrow {
	padding-right: 23px;
	background-image: url(../img/nextBtn.svg);
	background-position: right bottom;
}


navh1 {
	display: block;
	padding: 0;
	font-size: 17px;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: left;
	overflow: hidden;
	-webkit-box-flex: 1;
	   -moz-box-flex: 1;
	        box-flex: 1;
	margin: 0 9px;
	font-weight: 500;
    -webkit-tap-highlight-color: transparent;
}

.content navbutton {
	padding: 12px 18px;
	border-radius: 6px;
	box-shadow: 0 1px 1px -1px rgba(200, 199, 204, .5);
	font-weight: 300;
	font-size: 18px;
    -webkit-tap-highlight-color: transparent;
}
.content navbutton:active {
	opacity: 0.3;
}

.native navheader navbutton, .native navheader {
	padding-top: 20px;
}